@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

body{
  font-family: 'Atkinson', sans-serif;
  font-size: 0.7rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0.3rem 0 0.3rem 0;
	line-height: 1.2;
}

h1 {
	font-size: 1.1rem;
  font-weight: 500;
}
h2 {
	font-size: 1rem;
  font-weight: 500;
}
h3 {
	font-size: 0.9rem;
  font-weight: 500;
}
h4 {
	font-size: 0.8rem;
  font-weight: 500;
}
h5{
  font-weight: 500;
}
strong,
b {
	font-weight: 500;
}
a {
  color: #0070f3;
  text-decoration: none;
}

